.productContainer{
    width: 100%;
    display: flex;
    border-radius: .4rem;
    background-color: var(--gray-2);
    padding: 0 .5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: .2s;

    .unitaryRow{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 10fr 1fr 2fr;
        justify-content: center;
        align-items: center;
        height: 5rem;
        transition: .2s;
        cursor: pointer;

        .bodyCell{
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            overflow-x: hidden;
            color: var(--white-text);
            width: 100%;
            height: 100%;
            

            .showKits{
                text-align: center;
                width: 1.5rem;
                height: 1.5rem;
                background-color: var(--gray-2);
                border-radius: 50%;
                border: 1px solid var(--complementar-text);
                color: var(--complementar-text);
                font-weight: 600;
                cursor: pointer;

                transition: .2s;
            }
        }

        .productName {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            overflow: hidden;
            padding: 1rem;                        
            
            span {
                text-overflow: ellipsis;
                overflow: hidden;
                color: var(--white-text);
                line-height: .9rem;
            }

            #icon{
                margin-left: .2rem;
                cursor: pointer;
                a {
                    font-size: 1rem;
                    text-decoration: none;
                    color: var(--light-blue-button);
                    &:hover {
                        color: var(--blue-button);
                    }
                }

            }
        }
    }

    .options {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0 .5rem;
        align-items: center;
        overflow: hidden;
        transition: .2s;
        gap: .5rem;

        .optionsButton {
            padding: .3rem 1rem;
            border-radius: .4rem;
            align-items: center;
            text-align: center;
            transition: .2s;
            cursor: pointer;
        }

        .showKitsButton {
            padding: .3rem 1rem;
            margin-right: auto;
            border-radius: .4rem;
            align-items: center;
            text-align: center;
            transition: .2s;
            cursor: pointer;
        }
    }
}