.productContainer{
    width: 100%;
    display: flex;
    border-radius: .4rem;
    background-color: var(--gray-2);
    padding: 0 .5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: .2s;

    .unitaryRow{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 10fr 1fr 2fr;
        justify-content: center;
        align-items: center;
        height: 5rem;
        transition: .2s;
        cursor: pointer;

        .bodyCell{
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            overflow-x: hidden;
            color: var(--white-text);
            width: 100%;
            height: 100%;
            

            .showKits{
                text-align: center;
                width: 1.5rem;
                height: 1.5rem;
                background-color: var(--gray-2);
                border-radius: 50%;
                border: 1px solid var(--complementar-text);
                color: var(--complementar-text);
                font-weight: 600;
                cursor: pointer;

                transition: .2s;
            }
        }

        .productName {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            overflow: hidden;
            padding: 1rem;                        
            
            span {
                text-overflow: ellipsis;
                overflow: hidden;
                color: var(--white-text);
                line-height: .9rem;
            }

            #icon{
                margin-left: .2rem;
                cursor: pointer;
                a {
                    font-size: 1rem;
                    text-decoration: none;
                    color: var(--light-blue-button);
                    &:hover {
                        color: var(--blue-button);
                    }
                }

            }
        }
    }

    .options {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0 .5rem;
        align-items: center;
        overflow: hidden;
        transition: .2s;
        gap: .5rem;

        .optionsButton {
            padding: .3rem 1rem;
            border-radius: .4rem;
            align-items: center;
            text-align: center;
            transition: .2s;
            cursor: pointer;
        }

        .showKitsButton {
            padding: .3rem 1rem;
            margin-right: auto;
            border-radius: .4rem;
            align-items: center;
            text-align: center;
            transition: .2s;
            cursor: pointer;
        }
    }

    .deleteBox {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.377);

        .box {
            width: 30rem;
            height: 10rem;
            border-radius: .4rem;
            background-color: var(--gray-3);
            border: 1px solid var(--white-text);
            -webkit-box-shadow: 0px 0px 12px 0px rgba(250, 250, 250, 0.445);
            box-shadow: 0px 0px 12px 0px rgba(250, 250, 250, 0.445);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            gap: 2rem;

            .boxTitle {
                color:  var(--white-text);
                font-size: 1rem;
            }

            .buttonsRow {
                display: flex;
                align-items: center;
                gap: .5rem;
                margin-left: auto;

                .decline {
                    border: 1px solid var(--complementar-text);
                    outline: none;
                    background-color: var(--gray-3);
                    border-radius: .4rem;
                    padding: .2rem .6rem;
                    transition: .3s;

                    &:hover {
                        background-color: var(--gray-5);
                        color: var(--white-text);
                    }
                }

                .accept {
                    border: 1px solid var(--complementar-text);
                    outline: none;
                    background-color: var(--gray-3);
                    border-radius: .4rem;
                    padding: .2rem .6rem;
                    transition: .3s;

                    &:hover {
                        background-color: #c42e2e;
                        color: var(--white-text);
                        border: 1px solid transparent;
                    }
                }
            }
        }
    }
}