.wrapper {
    width: 100%;
    max-width: 60rem;
    height: 100%;
    display: flex;
    position: relative;

    overflow-x: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1rem;
        height: 100%;
        background: linear-gradient(90deg, var(--gray-3) 0%, transparent 100%);
        z-index: 10;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0rem;
        width: 1rem;
        height: 100%;
        z-index: 10;
        background: linear-gradient(90deg, transparent 0%, var(--gray-3) 100%);
    }
}