.button {
    height: 2rem;

    background-color: var(--blue-button);
    color: var(--white-text);
    
    padding: 0 1.2rem;
    
    border-radius: 2rem;
    border: 2px solid transparent;
    text-decoration: none;

    white-space: nowrap;

    &:hover {
        border: 2px solid var(--blue-border-button);
    }
}