.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;


    .label {
        color: var(--complementar-text);
    }

    .pages {
        max-width: 100%;
        min-width: 2rem;
        min-height: 2rem;
        
        display: flex;
        justify-content: flex-start;
        align-items: center;

        border-radius: .4rem;        
        border: 1px solid var(--gray-line);
        background-color: var(--gray-2);

        overflow: hidden;

        transition: .2s;

        .pagesList {
            
            display: flex;
            justify-content: center;
            align-items: center;

            .selectedPage, .page {
                height: 2rem;
                width: 2rem;
                
                display: flex;
                justify-content: center;
                align-items: center;
    
                background-color: var(--gray-2);
                border-radius: .4rem;
                color:  var(--complementar-text);
    
                transition: .2s;
                cursor: pointer;
    
                &:hover {
                    background-color: var(--gray-3);
                }
            }

        }

        
    }
}