.wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    
    padding: 0.2rem;
    margin: 1px;
    border: 1px solid var(--complementar-text);
    border-radius: 1rem;
    
    -webkit-tap-highlight-color: transparent;
    
    background-color: var(--gray-5);
    cursor: pointer;
    
    &:hover {
        border: 2px solid var(--blue-button);
        margin: 0px;
    }

    .circle {
        width: 1.1rem;
        height: 1.1rem;

        font-weight: 700;
        font-size: .8rem;
        color: var(--white-text);
        background-color: var(--blue-button);
        text-align: center;
        align-items: center;
        border-radius: 50%;

        -webkit-user-select: none;  
        -moz-user-select: none;     
        -ms-user-select: none;      
        user-select: none;
    }

    span {
        color: var(--white-text);
        margin: 0 .4rem;
    }
}