.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    justify-content: center;

    .label{
        align-items: flex-start;
        text-align: center;
        padding: 0 0 .2rem .4rem;
    }

    .input{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 2rem;
        background-color: var(--gray-2);
        border: 1px solid var(--gray-line);
        padding: 0 .8rem;
        border-radius: .4rem;
        cursor: pointer;
        z-index: 3;
        
        .selectedSpan{
            color: var(--complementar-text);
            align-items: center;
            text-align: center;
            font-weight: 400;
            white-space: nowrap;
        }

        &:hover{
            border: 1px solid var(--white-text);
            .selectedSpan{
                color: var(--white-text);
            }
        }
    }
    
    .options{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: var(--gray-1);
        border: 1px solid var(--gray-line);
        border-radius: .4rem;
        padding-top: 1rem;
        top: 2.4rem;
        z-index: 2;

        .optionContainer{
            width: 100%;
            padding: .2rem .5rem;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .optionSpan{
                width: 100%;
                color: var(--complementar-text);
                font-weight: 400;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                white-space: nowrap;
            }

            &:hover{
                .optionSpan{
                    color: var(--white-text);
                }
            }
        }

        .optionContainer+.optionContainer{
            border-top: 1px solid var(--gray-line);
        }
    }
}