.wrapper{
    width: 100%;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;

    padding: 1rem;
}

.wrapper::-webkit-scrollbar {
    width: 0.3rem;
    background-color: var(--gray-3);               /* width of the entire scrollbar */
}
  
.wrapper::-webkit-scrollbar-thumb {
    background-color: var(--gray-5);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */

    &:hover{
        background-color: var(--gray-line);
    }
}