  .wrapper {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;

    main {
      width: 100vw;
      height: calc(100vh - 4rem);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      background-color: var(--gray-3);

      .container {
        display: flex;
        flex-grow: 1;
        max-width: calc(100% - 3rem);
        height: 100%;
        position: relative;
      }


    }
  }