.wrapper {
    width: 100%;
    max-width: 100rem;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;

        padding-left: 0.5rem;
        border-bottom: 1px solid var(--gray-line);
        gap: 1rem;


        span {
            padding: 0 .5rem;
            white-space: nowrap;
            transition: .1s;
            &:hover {
                cursor: pointer;
            }
            
        }
    }
}