.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.377);
    transition: .2s;

    .container {

        width: 30rem;
        max-width: 100%;
        max-height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--gray-3);
        border: 1px solid var(--white-text);
        border-radius: .4rem;
        -webkit-box-shadow: 0px 0px 12px -4px rgba(250,250,250,0.31);
        box-shadow: 0px 0px 12px -4px rgba(250,250,250,0.31);
        transition: .2s;

        .header {
            width: 100%;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--complementar-text);
        }

        .offersContainer {
            width: 100%;
            height: 100%;
            align-items: center;
            padding: .2rem;
            background-color: var(--gray-2);
            border-radius: .4rem;
            border: 1px solid var(--gray-line);
            overflow-y: scroll;

            .offersList {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: var(--gray-2);
                gap: .5rem;

                .tab {
                    width: 100%;
                    height: 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--complementar-text);
                    background-color: var(--gray-2);
                    // border-radius: .4rem .4rem 0 0;
                }
    
                .offer {
                    width: 100%;
                    height: 2rem;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--gray-3);
                    border-radius: .4rem;
                    transition: .2s;
                    padding: 0 .5rem;
                    transition: .2s;
                    cursor: pointer;
    
                    .offerCollum {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        font-size: .9rem;
                        font-weight: 400;
                        justify-content: center;
                        align-items: center;
                        color: var(--complementar-text);

                        #unchecked {
                            color: var(--complementar-text);
                            font-size: 1rem;
                        }

                        #loadingIcon, #successIcon {
                            font-size: 1rem;
                            color: var(--white-text);
                        }
                        
                        #loadingIcon {
                            animation: loading .7s infinite;
                        }

                        @keyframes loading {
                            from {
                                transform: rotate(0deg);
                            }
                            to {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }

        }
        
        .offersContainer::-webkit-scrollbar {
            width: .1rem;
            background-color: transparent;               /* width of the entire scrollbar */
        }
          
        .offersContainer::-webkit-scrollbar-thumb {
            background-color: var(--gray-5);    /* color of the scroll thumb */
            border-radius: 20px;       /* roundness of the scroll thumb */
        
            &:hover{
                background-color: var(--gray-line);
            }
        }

        .footer {
            width: 100%;
            height: 3rem;
            display: flex;
            gap: .5rem;
            align-items: center;
            margin-top: .5rem;
            padding-right: .5rem;
            justify-content: flex-end;

            .close {
                padding: .2rem .6rem;
                color: var(--complementar-text);
                border: 1px solid var(--complementar-text);
                border-radius: .4rem;
                transition: .2s;
                cursor: pointer;

                &:hover {
                    color: var(--white-text);
                    border: 1px solid var(--white-text);
                }
            }

            .submit {
                padding: .2rem .6rem;
                color: var(--complementar-text);
                border: 1px solid var(--white-text);
                border-radius: .4rem;
                background-color: transparent;
                transition: .2s;
                cursor: pointer;

                &:hover {
                    color: var(--white-text);
                    border: 1px solid var(--blue-button);
                    background-color: var(--blue-button);
                }
            }
        }
    }
}