.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;

    .header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid var(--gray-line);
        height: 2rem;

        .headerCell{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .resultContainer{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
}