.header {
    width: 100vw;
    height: 4rem;
    
    display: flex;
    text-align: center;
    align-items: center;

    padding: 0.5rem 1rem;

    background-color: var(--gray-4);

    border-bottom: solid 3px var(--yellow-line);

    .userContainer {
        display: flex;
        width: 15rem;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        cursor: pointer;
        border-radius: .4rem;

        position: relative;
        transition-property: all;
        transition-duration: .4s;
        transition-timing-function: cubic-bezier(0.32, 0.02, 0, 1.01);
        .dropDown {
            width: 15rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            overflow: hidden;
            z-index: 10;
            top: 100%;
            position: absolute;
            background-color: var(--gray-5);
            border-radius: 0 0 .4rem .4rem;

            transition-property: all;
            transition-duration: .4s;
            transition-timing-function: cubic-bezier(0.32, 0.02, 0, 1.01);

            .spanRequests {
                color: var(--white-text);
            }
        }

        .userName {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            color: var(--gray-50);
            width: 100%;
            height: 100%;
        }
    }

    img {
        height: 2.5rem;
        width: auto;

        transition: .2s;
        
        &:hover,
        &:focus {
            padding: 0.05rem;
        }
    }

    p {
        margin-left: 2rem;
        padding: 0.25rem 2rem;
        border-left: 1px solid var(--gray-200);

        color: var(--gray-50);
    }

}