.wrapper{
    position: relative;

    .popUpButton{
        cursor: pointer;
        width: 1.5rem;
        border-radius: 50%;
        border: 1px solid var(--complementar-text);
        background-color: var(--gray-3);
        span {
            bottom: .188rem;
            position: relative;
            color: var(--white-text);
        }
        &:hover{
            background-color: var(--gray-5);
            border: 1px solid var(--white-text);
        }
    }

    .popUp{
        width: 8rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        border: 1px solid var(--white-text);
        background-color: var(--gray-5);
        border-radius: .4rem;
    }
}