.wrapper{
    display: flex;
    flex-direction: column;

    .priceRow{
        display: flex;
        justify-content: center;
        gap: .2rem;

        span{
            color: var(--white-text);
        }
    }

    .dateRow{
        display: flex;
        justify-content: center;

        span{
            color: var(--complementar-text);
            font-size: .7rem;
            font-weight: 400;
        }
    }
}