.wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--gray-2);
    border-radius: 0 0 .4rem .4rem;
    overflow: hidden;
    transition: height .2s, border .2s;

    .kitContainer{
        max-width: 25rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: .5rem;
        padding: .5rem;

        .imgContainer{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .kitImg{
                height: 2.5rem;
                width: 2.5rem;
                border-radius: .4rem;
                background-position: center;
                background-size: cover;
            }
        }


        .kitInfo{
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: .3rem;


            .kitName {
                max-width: 20rem;
                display: flex;

                p {
                    font-size: .8rem;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: var(--complementar-text);
                }      
                
                #icon{
                    color: var(--light-blue-button);
                    font-size: 1rem;
                    margin-left: .2rem;
                    cursor: pointer;
    
                    &:hover {
                        color: var(--blue-button);
                    }
                }
            }

            .priceContainer{
                width:  100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap:  1rem;
                font-size: .8rem;
                
                span {
                    color: var(--complementar-text);
                }
            }
        }

        
    }

    .kitContainer + .kitContainer {
        border-left: 1px solid var(--gray-line);
    }
}