.wrapper{

    padding: .25rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    border-radius: .4rem;
    border: 1px solid var(--gray-line);
    cursor: pointer;
    position: relative;
    transition: .2s;

    &:hover {
        border-color: var(--complementar-text);

    }

    .box{
        
        width: 0%;
        height: 0%;
        border-radius: .3rem;
        position: absolute;
        top: 50%;
        left: 50%;

        transition: .2s;
    }
}