.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;

    .categoryContainer{
        width: 100%;
        height: 3rem;

        display: flex;
        text-align: start;
        align-items: center;
        padding: 1rem;
        border-bottom: 1px solid var(--gray-line);
        gap: 0.7rem;
        
        .categoryId{
            color: var(--complementar-text);
        }

        .categoryName{
            color: var(--complementar-text);
        }

        .buttons{
            height: 3rem;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            font-weight: 600;
            margin-left: auto;
            gap: .5rem;

            .dropDown {
                position: relative;
            }
        }
    }
}