.button{
    height: 1rem;
    align-items: center;
    border-radius: .4rem;
    padding: .1rem .3rem;
    background-color: var(--gray-5);
    outline: none;
    font-size: .6rem;
    margin-left: auto;
    gap: .2rem;
    transition: .5s;
    white-space: nowrap;

    &:hover{
        color: rgb(223, 17, 17);
    }

    .text{
        align-items: center;
        white-space: nowrap;
    }

}