.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    justify-content: center;

    .label{
        font-size: 1rem;
        padding-left: 0.4rem;
        margin-bottom: .2rem;
    }

    input{
        width: 100%;
        height: 2.5rem;

        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        color: var(--white-text);
        background-color: var(--gray-4);
    
        border: 1px solid var(--gray-line);
        border-radius: .4rem;
        padding: 1rem .8rem 1rem;
    
        outline: none;
        cursor: pointer;
        transition: 0.1s ease-in;
        z-index: 3;
        

        &:hover{
            border: 1px solid var(--complementar-text);
        }
        
        &:focus {
            border: 1px solid var(--white-text);
            background-color: var(--gray-5);
            
        }
    }
    
    .options{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        border: 1px solid var(--gray-line);
        border-radius: .4rem;
        padding-top: 1rem;
        bottom: 0;
        overflow: hidden;
        z-index: 2;

        .optionContainer{
            width: 100%;
            height: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: var(--gray-3);

            .optionSpan{
                width: 100%;
                color: var(--complementar-text);
                font-weight: 400;
                font-size: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                white-space: nowrap;
            }

            &:hover {

                background-color: var(--gray-2);
                .optionSpan{
                    color: var(--white-text);
                }
            }
        }

        .optionContainer+.optionContainer{
            border-top: 1px solid var(--gray-line);
        }
    }

    .placeholder {
        height: 2.5rem;
        max-width: 100%;
        background-color: var(--gray-5);
        border-radius: .4rem;
        overflow: hidden;
        position: relative;
        border: 1px solid var(--gray-line);
    }

    .placeholder::before {
        content: '';
        display: block;
        position: absolute;
        left: -150px;
        top: 0;
        height: 100%;
        width: 350px;
        background: linear-gradient(to right, transparent 0%, var(--gray-6) 50%, transparent 100%);
        animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
    }

    @keyframes load {
        from {
            left: -150px;
        }
        to   {
            left: 100%;
        }
    }
}